body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* style du conteneur general */
.body-contaier {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    margin-top: 5px;
    position: relative;
}

/* style de la bannier */
.bannier {
    height: 200px;
    background-image: url("./../img/banniere.jpg");
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titre-entete {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 80px;
        background-color: rgba(245, 245, 220, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
}

/* style du menue */

nav {
    width: 20%;
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 10px;
    background-color: lightgray;
    height: fit-content;
    position: sticky;
    top: 50px;
    z-index: 100;

    ul {
        padding: 0;
    }

    ul li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            font-size: 1em;
            font-weight: bold;
            color: black;
        }
    }

    ul li:hover {
        color: white;
        background-color: #A90331;
    }

    /* Bouton Menu Mobile */
    .menu-toggle {
        display: none;
        font-size: 1.5rem;
        cursor: pointer;
        background: none;
        border: none;
    }
}

main {
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: lightgray;
    /* height: 2000px; */
}

.titre-accueil {
    background-color: #A90331;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.conteneur-img-accueil {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.accueil-text-conteneur {
    padding: 10px;
}

.accueil-text {
    text-align: justify;
}

.gras {
    font-weight: bold;
}

.liens-accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liens-accueil {
    list-style: none;

    .wiki {
        color: black;
    }

    a {
        color: #A90331;
        text-decoration: none;
    }

    a:hover {
        color: black;

    }
}

.margin-tpo {
    margin-top: 10px;
}